.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 500px;
}

.container::before {
  content: "Filter by calification";
  margin-right: 12px;
  font-size: 30px;
  color: rgb(214, 214, 214);
}

.inputRating {
  display: none;
}

.star {
  cursor: pointer;
  margin-top: 2px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 400px;
  }

  .container::before {
    font-size: 20px;
  }
}
